<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @location.uuid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Full Address:</strong>
  <%= @location.full_address %>
</p>

<p>
  <strong>Area:</strong>
  <%= @location.area %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @location.enabled %>
</p>

<p>
  <strong>Portal key:</strong>
  <%= @location.portal_key %>
</p>

<p>
  <strong>Portal id:</strong>
  <%= @location.portal_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @location.time_zone %>
</p>

<p>
  <strong>Last available:</strong>
  <%= @location.last_available %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
